@font-face {
    font-family: 'Book Antiqua';
    src: url('/Font/Book\ Antiqua\ Font.ttf') format('truetype');
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Book Antiqua';
    color: rgb(88, 51, 21);
    background-color: rgb(238, 235, 226);
}

header{
    width: 98%;
}

main, section{
    width: 98%;
}

h1, h2, h3, h4, h5, h6{
    font-size: 1.5em;
    text-align: center;
}


/* Head Navigation */


.nav_header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #eeebe2, #ddd6a4);
}

.logo_tintin{
    width: 10%;
    height: 10%;
}

.overline{
    width: 75%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hover_links{
    font-size: 1.4em;
    color: rgb(88, 51, 21);
    text-decoration: none;
}

.hover_links:hover{
    background-color: rgb(238, 235, 226);
}



/* Tintin */


.character1{
    display: flex;
    margin-left: 2%;
}

.tintin_prez{
    padding-left: 2%;
    text-align: justify;
}

.tintin_quote{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}



/* Milou */


.character2{
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.milou_prez{
    text-align: justify;
}

.milou{
    width: 40%;
}

.milou_quote{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}



/* Capitaine Haddock */


.character3{
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.haddock_prez{
    padding-left: 2%;
    text-align: justify;
}

.haddock_quote{
    margin-left: 2%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}



/* Dupond et Dupont */


.character4{
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.dupondt_prez{
    text-align: justify;
}

.dupondt_quote{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}



/* Professeur Tournesol */


.character5{
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.tournesol_prez{
    padding-left: 2%;
    text-align: justify;
}

.tournesol_quote{
    margin-left: 2%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}



/* Bianca Castafiore */


.character6{
    display: flex;
    margin-left: 2%;
    margin-top: 10%;
}

.castafiore_prez{
    padding-left: 2%;
    text-align: justify;
}

.castafiore_quote{
    margin-left: 2%;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}