@font-face {
    font-family: 'Book Antiqua';
    src: url('/Font/Book\ Antiqua\ Font.ttf') format('truetype');
}

body{
    margin: 0;
    width: 100%;
    font-family: 'Book Antiqua';
    background-color: rgba(43, 116, 71, 0.557);
}

header{
    width: 98%;
}

main, section{
    width: 100%;
}

span{
    color: rgb(11, 88, 41);
    font-weight: bold;
}

.nav_header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #9bcaad31, #0b8a2b8f);
}

.logo_tintin{
    width: 10%;
    height: 10%;
}

.overline{
    width: 75%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hover_links{
    font-size: 1.4em;
    color: rgb(11, 88, 41);
    text-decoration: none;
}

.hover_links:hover{
    background-color: #9bcaad31;
}

.first_part{
    display: flex;
    margin-top: 2%;
}

.box1{
    margin-left: 1%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box1_text1{
    width: 37%;
    margin-right: 1%;
}

.box1_text2{
    width: 37%;
}

.box1_text3{
    width: 37%;
    position: absolute;
    z-index: 1;
    top: 35%;
}

.roquet{
    position: absolute;
    z-index: -1;
    top: 30%;
    width: 120%;
}

.box2{
    width: 52%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.box2_div{
    display: flex;
    justify-content: flex-end;
}

.box2_text1{
    width: 25%;
    margin-right: 2%;
}

.pill{
    width: 50%;
}

.box2_div2{
    display: flex; 
    justify-content: end;
    margin-top: 15%;
}

.scuba{
    width: 40%;
    margin-bottom: 3%;
}

.box2_text2{
    width: 35%;
    margin-left: 2%;
    align-self: flex-end;
}

.second_part{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.box3{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.gaz{
    width: 70%;
}

.box3_text{
    width: 70%;
    text-align: justify;
}

.box4{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.box4_text{
    width: 75%;
    text-align: justify;
}

.third_part{
    margin-left: 2%;
    display: flex;
}

.box5{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.box5_text{
    width: 80%;
    text-align: justify;
}

.tank{
    width: 80%;
}

.box6{
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submarine{
    width: 70%;
}

.box6_text{
    width: 70%;
    text-align: justify;
}

.back{
        display: flex;
        justify-content: start;
        margin-top: 15%;
        margin-left: 2%;
        color: rgb(11, 88, 41);
        text-shadow: rgb(186, 189, 17) 2px 0 10px;
        font-size: 2.5em;
        font-weight: bold;
        text-decoration: none;
    }