/* Drawings */


.first_drawing{
    margin-bottom: 5%;
    margin-left: 15%;
    width: 70%;
    height: 50%;
}

.second_drawing{
    margin-left: 5%;
}

.third_drawing{
    margin-bottom: 5%;
    margin-left: 10%;
}

.symbols{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    color: rgb(119, 9, 9);
}


/* Responsive Features */



@media screen and (max-width : 425px) {
    p.fourth_cover {
        border: 1px solid #583315;
        width: 350px;
        height: 300px;
        overflow: auto;
    }
    .second_drawing {
        width: 300px;
        margin-left: 10%;
        margin-bottom: 10%;
    }
    .third_drawing {
        width: 80%;
    }
    .symbols {
        font-size: 1rem;
    }
}