/* Head Navigation */


.nav_header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, #ffd857, #fff59e);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 0.2em solid rgb(88, 51, 21);
    z-index: 1;
}

.logo_tintin{
    width: 10%;
    height: 10%;
}

.overline{
    width: 75%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hover_links{
    font-size: 1.4em;
    color: rgb(88, 51, 21);
    text-decoration: none;
}

.hover_links:hover{
    background-color: rgb(255, 216, 87);
}



/* Presentation Tintin */


.quote{
    padding: 5%;
    margin-top: 8%;
    font-size: 2em;
    color: rgb(88, 51, 21);
    text-align: center;
}

.box_prez{
    margin-top: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}

.text_prez{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
    margin-top: 5%;
    margin-left: 2%;
    padding: 2%;
    border: 2px solid;
    border-radius: 30px;
    border-color: rgb(88, 51, 21);
    color: rgb(88, 51, 21);
}

.main_title{
    font-size: 1.7em;
    font-weight: 800;
    text-decoration: underline;
    text-align: center;
}

.intro{
    font-size: 1.2em;
    font-weight: 800;
    text-align: justify;
}

.first_img{ 
    width: 50%;
    border-radius: 30px;
}



/* Albums */


 .albums{
    margin-top: 10%;
 }

 .title_section{
    text-decoration: underline;
    color: rgb(88, 51, 21);
    padding-bottom: 2%;
    padding-left: 2%;
    }

 .books{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
 }

 .box{
    width: 100%;
 }

 .box:hover{
    opacity: 70%; 
 }



/* Tintin Chronology */


.board{
    margin-top: 7%;
    }

.board_items{
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    color: rgb(88, 51, 21);
    }

.board_title{
    padding: 5%;
    text-decoration: underline;
    font-size: 2em;
    color: rgb(88, 51, 21);
    }

.board_total{
    color: rgb(88, 51, 21);
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}



/* Footer */


.footer_div{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 20%;
    border-top: 2px solid;
    border-color: rgb(88, 51, 21);
}

.footer_left{
    width: 100%;
    display: flex;
    position: relative;
}

.footer_logo{
    width: 20%;
    position: absolute;
}

.rights{
    padding-left: 22%;
    padding-top: 8%;
    color: #583315;
}

.footer_right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    position: relative;
}

.box_links{
    width: 10%;
}

.social_medias{
    position: absolute;
    top: 50%;
    max-width: 7%;
    padding: 2%;
}



/* Responsive Features */


@media screen and (max-width : 425px) {

    .logo_tintin {
        width: 29%;
    }
    .overline {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hover_links {
        font-size: 0.9rem;
    }
    .quote {
        font-size: 1.3rem;
        padding-top: 40%;
        width: 80%;
        margin: 0 auto;
    }
    .box_prez {
        flex-direction: column-reverse;
        align-items: center;
    }
    .text_prez {
        width: 80%;
        margin-bottom: 10%;
    }
    .main_title {
        font-size: 1.5rem;
    }
    .intro {
        font-size: 1rem;
    }
    .first_img {
        margin-top: 3%;
        width: 90%;
    }
    .title_section {
        text-align: center;
        font-size: 1.3rem;
    }
    .books {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .board {
        padding-top: 10%;
        width: 80%;
    }
    .board_title {
        font-size: 1.5rem;
    }
    .board_total {
        font-size: 1.5rem;
    }
    .footer_logo {
        width: 30%;
    }
    .rights {
        text-align: justify;
        margin-left: 10%;
        font-size: 0.7rem;
    }
    .footer_right {
        width: 40%;
    }
}